/*MAIN STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --green-color: #60C51F; 
    --white-color: #DDE1E7;
    --violet-color: #71557B;
    --red-color: #ff0303;
}
i{
    display: block;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Anonymous Pro", monospace;
    color: inherit;
    list-style: none;
    /* border: 1px solid #000; */
}

button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-bottom:5px solid  var(--violet-color);
}

input, select{
    border: none;
    border-bottom: 1px solid var(--violet-color);
    background-color: #fff;
}

td{
    padding: 0.25rem;
}

body{
    background-color: var(--white-color);
    /* scroll-margin: -3rem 0 0 0; */
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
.header{
    background-color: var(--violet-color);
    color: var(--white-color);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

section{
    padding-top: 3rem;
}

.header_container{
    padding: 1rem 1.25rem 1rem 0.25rem;
    border-left: 1rem solid var(--green-color);
    height: 3rem;
}
.header_list{
    display: flex;
    justify-content: space-between;
}
/*MAIN*/
.main_container{
    padding: 1rem;
    padding-top: 0;
}

.add_record{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.records_table_container{
    max-height: 600px;
    overflow: auto;
    position: relative;
}
.records_table{
    width: 100%;
    margin-top: 1rem;
    
}
.records_table thead{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white-color);
}
.records_title{
    display: flex;
    justify-content: space-between;
}
.filters_toggle_button, .filters_close_button, .submit_filters_button{
    font-size: 0.75rem;
    padding: 0 1rem;
}

.filters_toggle_button i {
    margin: auto;
}
.filters{
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
}

.filters_active{
    height: auto;
}

.edit_button, .delete_button{
    border-bottom: 5px solid var(--green-color);
}

.delete_button{
    border-bottom: 5px solid var(--red-color)
}

.status_wrapper{
    display: none;
}


